@model TravelBlog.Models.Person

<h2>Add a Person</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.Photo)
    @Html.EditorFor(model => model.Photo)



    <input type="submit" value="Create" />
}

@Html.ActionLink("Back to Index", "Index")