@model TravelBlog.Models.Person

<h2>More about @Model.Name</h2>

<hr />
<img src=@Model.Photo><br />

<p>Description: @Model.Description </p>


<h3>Locations</h3>
@using (Html.BeginForm("AddLocation"))
{
    @Html.LabelFor(ViewBag => ViewBag.Name)
    @Html.DropDownList("LocationId")
    @Html.HiddenFor(model => model.PersonId)
    <input type="submit" value="AddLocation" />

}

